/* MOTIVES - big icons  */

.motives {
max-width: 1200px;
display: flex;
  justify-content: center;  
  margin: 0 auto;
  padding: 0 15px;
  margin-top: 94px;

&__figure {
  display: flex;
  height: 120px;
  width: 270px;
  background-color: #F5F4FA;
  box-shadow: none;
  margin: 0px;
  padding: 0px;
  border-radius: 4px;  
  
}
}
